.contenedor-slogan{
	background: url(../img/portada.png) no-repeat center center/cover;
	width: 100%;
	height: 450px;
	text-shadow: 2px 2px 4px black;
	color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 50px 50px;
}
.contenedor-slogan__muni{
    font-size: 4.5rem;
	opacity: 0.65;
	font-weight: bold;
    text-align: center;
	margin-top: 4rem;
    background-color: #ffffff6c;
}
@media (max-width: 840px){
	.contenedor-slogan__muni{
		font-size: 3.5rem;
		margin-top: 1em;
	}	
}


@media (max-width: 640px){
	.contenedor-slogan__muni{
		font-size: 2.5rem;
		z-index: 0;
	}	
}